<div class='admin-form'>
  <h1 class='admin-tutorial'>Edit language</h1>

  <%= form_for(@language) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class='form-field'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <%= f.submit "Save language", class: 'btn submit-btn' %>
  <% end %>
</div>