<div class='tutorial'>
  <div><%= tutorial.title %></div>
  <ul>
    <li>URL: <%= tutorial.url %></li>
    <li>Author: <%= tutorial.author %></li>
    <li>Description: <%= tutorial.description %></li>
    <li>Primary topic: <%= tutorial.primary_topic_name %></li>
    <li>Media type: <%= tutorial.media_type %></li>
    <li>Date created: <%= tutorial.date_created %></li>
    <li>Tags: <% tutorial.tag_names.each do |name| %>
                <%= name %> 
              <% end %>
    </li>
  </ul>
</div>