<div class='tutorial-form'>

  <h1 class='admin-header'>Add a tutorial</h1>

  <%= form_for(@tutorial) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class='form-field'>
      <%= f.label :url, "Link" %>
      <%= f.text_field :url %>
    </div>

    <div class="form-field">
      <%= f.label :title, "Tutorial name" %>
      <%= f.text_field :title %>
    </div>

    <div class="form-field">
      <%= f.label :primary_topic_id, "Primary topic" %>
      <%= f.select :primary_topic_id, @tags, selected: '- select one -'%>
    </div>

    <div class="form-field">
      <label>Tags</label>
      <select id='tag-options'>
        <%= (options_for_select(@tags)) %> 
      </select>
      <span id='add-tag'>Add tag</span>
    </div>

    <div class='form-field'>
      <label>Selected tags</label>
      <div id='selected-tags'></div>
    </div>

    <input id='tutorial_tag_ids' type='hidden' name="tutorial[tag_ids]">

    <div class="form-field">
      <%= f.label :description, "A brief description" %>
      <%= f.text_area :description %>
    </div>

    <div class="form-field">
      <%= f.label :author, "Author" %>
      <%= f.text_field :author %>
    </div>

    <div class="form-field">
      <%= f.label :media_type, "Media type" %>
      <%= f.select :media_type, @media_type_options %>
    </div>

    <div class="form-field">
      <%= f.label :is_paid, "Paid?" %>
      <%= f.check_box :is_paid %>
    </div>

    <div class="form-field">
      <%= f.label :date_created, "Date" %>
      <%= f.date_select :date_created, order: [:month, :year], start_year: 2010 %>
    </div>

    <%= f.submit "Add tutorial", class: 'btn submit-btn' %>

  <% end %>
</div>